.displayWrapper {
	width: 100%;
	border: 2px solid gray;
	overflow: scroll;
}

#display {
	/*min-width: 4000px;*/
	height: 600px;
}

#maxHeightOfElems {
	height: 99%;
	width: 1px;
	visibility: hidden;
	margin: 0px;
}

.elem {
	width: 10px;
	margin-right: 2px;
	border: 1px solid black;
	display: inline-block;
	vertical-align: bottom;
	height: 500px;
}

.control table td:nth-child(odd) {
	padding-right: 10px;
}/*72*/

.number {
	width: 70px;
}